.featured-services .icon-box {
    padding: 20px;
    position: relative;
    gap: 40%;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    width: 100%;
    border-radius: 30px;
    z-index: 1;
    
  }
  .featured-services .icon-box::before {
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }
  .featured-services .icon-box:hover::before {
    background: #106eea;
    top: 0;
    border-radius: 0px;
  }
  .featured-services .icon {
    margin-bottom: 15px;
  }
  .featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #106eea;
    transition: all 0.3s ease-in-out;
  }
  .featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .featured-services .title a {
    color: #111;
  }
  .featured-services .bold{
    font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 63px;
/* identical to box height */

display: flex;
align-items: center;

/* Grey 25% */

color: #404040;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }
  .featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
    color: #fff;
  }
  .featured-services .icon-box:hover .icon i {
    color: #fff;
  }

  @media (max-width: 576px) { 
    .featured-services .icon-box{
      top: 1rem;
      left: -1rem;
    }
  }
    
  @media (min-width: 1200px) { 
    .card-padding {
      padding: 8vw;
    }
  }