.featured-services .service-item {
    padding: 25px;
    width: 80%;
    transition: all ease-in-out 0.4s;
    background: var(--color-white);
    height: 100%;
    align-items: center;
    border: 1px solid skyblue;
  }
  
  .brand {
    color: skyblue;
  }
  /* .featured-services .Name h1{
    color: skyblue;
    font-size: 40px;
    font-family: 'Neue Haas Grotesk Text Pro';
   font-style: normal;
   text-align: left;
  } */
  .featured-services .service-item .icon {
    margin-bottom: 10px;
  }
  .featured-services .service-item .icon i {
    color: var(--color-primary);
    font-size: 36px;
    transition: 0.3s;
  }
  .featured-services .service-item image {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
  }
  .featured-services .service-item h4 a {
    color: var(--color-secondary);
    transition: ease-in-out 0.3s;
  }
  .featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .featured-services .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);
  }
  .featured-services .service-item:hover h4 a {
    color: var(--color-primary);
  }