.card{
    width: 35%;
    height: 50%;
    margin-left: 3%;
    margin-top: 3%;
    position: absolute;
      border-radius: 35px;
    background: radial-gradient(62.87% 95.35% at 47.66% 47.35%, #424242 0%, #2B2B2B 38.99%, #000000 100%);
}
.card-img-top {
    object-fit: cover;
}
.circle{
position: absolute;
left: 7.55%;
right: 51.19%;
top: 16.11%;
bottom: 20.4%;
border-radius: 150px;
background: radial-gradient(150.37% 122.58% at 70.17% -9.64%, #295177 0%, #1B3A57 23.31%, #142739 61.53%, #04101C 100%);
}

.circleword{
position: absolute;
left: 9.58%;
right: 55.19%;
top: 40.55%;
bottom: 43.99%;

font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.circleshadow{
    position: absolute;
    left: 0%;
    right: 100.1%;
    top: 24.69%;
    bottom: 24.76%;
border-radius: 150px;
    background: #32679A;
}
.android{
width: 32px;
height: 37px;
margin-top: 30px;
margin-left: 350px;
margin-right: 200px;

/* Inside auto layout */


}
.androidw{
    width: 124px;
height: 25px;
margin-top: -30px;
margin-left: 400px;
font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 500;
font-size: 3px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}



/* Web Development */

.card-two{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 7.0%;
    right: -3.57%;
    margin-top: 400px;

    border-radius: 35px;
    background: radial-gradient(62.87% 95.35% at 47.66% 47.35%, #424242 0%, #2B2B2B 38.99%, #000000 100%);   
}
.cards{
    width: 600px;
    height: 400px;
    position: absolute;
    margin-right: -0px;
    margin-left: 800px;
    margin-top: 400px;

    border-radius: 35px;
    background: radial-gradient(62.87% 95.35% at 47.66% 47.35%, #424242 0%, #2B2B2B 38.99%, #000000 100%);
}
.cardw{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 7.0%;
    right: -3.57%;
    margin-top: 850px;

    border-radius: 35px;
    background: radial-gradient(62.87% 95.35% at 47.66% 47.35%, #424242 0%, #2B2B2B 38.99%, #000000 100%);
}
.cardt{
    width: 600px;
    height: 400px;
    position: absolute;
    margin-right: -0px;
    margin-left: 800px;
    margin-top: 850px;

    border-radius: 35px;
    background: radial-gradient(62.87% 95.35% at 47.66% 47.35%, #424242 0%, #2B2B2B 38.99%, #000000 100%);
}
@media (min-width: 576px) { 
    .card-img-top {
      height: 50vw;
    }
   
  }
  
  @media (min-width: 768px) { 
    .card-img-top {
      height: 30vw;
    }
    
  }
  
  @media (min-width: 992px) { 
    .card-img-top {
      height: 20vw;
    }
  }
  
  @media (min-width: 1200px) { 
    .card-img-top {
      height: 20vw;
    }
  }
  
  