.cardh{
 margin-bottom: 20px;

}

.services{
  margin-top: -7rem;
   margin-bottom: 20rem;
   margin-left: 5rem;
   
}
.second{
  margin-top: 8rem;
  margin-bottom: 10px;
}
.cardcntnt{
  margin-top: -358px;
}
.Mobile1{
  position: absolute;
  left: 58.2%;
  top: 850px;
  bottom: 46.15%;
  
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
 width: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}
.Mobile3{
  position: absolute;

  left: 57.7%;
  top: 1250px;
  bottom: 46.15%;
  width: 40px;
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
}
.cardh{
  margin-top: 25px;
}
.Mobile{
position: absolute;
left: 220px;
right: 55.19%;
top: 845px;
bottom: 46.15%;
width: 40px;
font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.Mobile2{
  position: absolute;
left: 220px;
right: 55.19%;
top: 1250px;
bottom: 46.15%;
width: 40px;
font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.tlogo{
  width: 30px;
  height: 30px;
  margin-left: 14rem;
  margin-top: 1rem;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.cardh{
  background: fixed ;
}
.elogo{
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-left: 16rem;
  margin-top: 1px;
}
.card-title{
position: absolute;
left: 10.58%;
right: 55.19%;
top: 35.55%;
bottom: 43.99%;

font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.card-img{
  border-radius: 15px;
}
.alogo{
width: 30px;
height: 30px;
margin-left: 14rem;
margin-top: 1rem;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.cardcntnt .acon{
width: 150px;
margin-top: -1.7rem;
height: 25px;
margin-left: 28rem;
font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
 .tcon{
  width: 86px;
  margin-top: -1.5rem;
  height: 25px;
  margin-left: 27rem;
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  }
  .cardcdn{
margin-top: -380px;
  }
   .cardc{
    margin-top: -335px;
   }

@media (max-width: 567px) { 
 .second{
  margin-top: -40px;
  margin-bottom: 25px;
   
 }

  .services{
    width: 420px;
    margin-right: 1px;
    margin-left: -22px;
    margin-top: 25px;
   }
     
     .Mobile{
      margin-top: 35px;
      margin-left: -150px;
      font-size: 16px;
      }
      .Mobile1{
        margin-top: 290px;
        margin-left: -150px;
        font-size: 16px;
      }
      .Mobile2{
        margin-top: 130px;
        margin-left: -150px;
        font-size: 16px;
      }
      .Mobile3{
        margin-top: 375px;
        margin-left: -143px;
        font-size: 16px;
      }
     .alogo{

      width: 18px;
      height: 16px;
      
      }
.top .acon{
font-size: 10px;
margin-left: 21.5rem;
padding-top: 2.5vh;
 }
 .tcon{
  font-size: 10px;
  margin-left: 16.5rem;
   padding-top: 3vh;
   margin-top: -2.1rem;
 }
.cardcntnt{
  margin-top: -235px;
  height: 410px;
  margin-left: -80px;
}
.cardc{
  margin-top: -240px;
  height: 20px;
  width: 410px;
  height: 250px;
}
.cardcdn{
  margin-top: -13.6rem;
}
.tlogo{
width: 17px;
height: 16px;
margin-left: 140px;
margin-bottom: -50px;
margin-top: -60px;
}
}
@media (min-width: 1200px) { 
  .card-padding {
    padding: 8vw;
  }
}

