
.cardy{
position: relative;
padding: 45px 50px 25px 60px;
margin-top: 200px;
background-color: #D5E5FA;
border-radius: 10px;
color: #fff;
top: -8rem;
}
.cont{
  margin-top: 12px;
}
.testi{
  position: absolute;
width: 244px;
height: 50px;
left: 340px;
top: -47px;

font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 50px;
display: flex;
align-items: center;

color: #000000;
}
.arrow-down1 {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid  #D5E5FA;
  margin-left: 85px;
  margin-top: -8rem;
}
.profile-picone{
  position: absolute;
  width: 70px;
  height: 70px;
  
  border-radius: 100%;
  left: 65px;
  
}

.cardz {
    position: relative;
        padding: 45px 50px 25px 60px;
    margin-top: 200px;
    background-color: #D5E5FA;
    border-radius: 10px;
    color: #fff;
    top: 15rem;
}

.post-txt {
  font-family: 'Neue Haas Grotesk Text Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
display: flex;
align-items: center;

color: #000000;

}



.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid  #D5E5FA;
  margin-left: 85px;
  margin-top: 15rem;
}

.fit-image{
    
    margin-left: 22rem;
    object-fit: cover;
}

.profile-pic {
    position: absolute;
    width: 70px;
    height: 70px;
    
    border-radius: 100%;
    left: 65px;
    margin-top: px;
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: #616161;
}
@media (max-width: 576px) { 
  .testi {
    left: 125px;
    font-size: 22px;
  }
  .fit-image{
    margin-left: 30px;
    
  }
  .cont{
    margin-top: 8rem;
  }
 
}
  
@media (min-width: 1200px) { 
  .card-padding {
    padding: 8vw;
  }
}